<kt-portlet>
    <kt-portlet-body>

        <div class="row">
            <div class="col-xl-12">

                <!--begin:: Widgets/User Progress -->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Danh sách thành viên
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link btn" [ngClass]="{ 'active':activeTab==='dangkymoi'}"
                                        (click)="chooseTab('dangkymoi')" data-toggle="tab" role="tab">
                                        Đăng ký mới
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn" [ngClass]="{ 'active':activeTab==='thanhvien'}"
                                        (click)="chooseTab('thanhvien')" data-toggle="tab" role="tab">
                                        Thành viên
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input style="min-width: 200px;" type="text" class="form-control"
                                                placeholder="Search..." id="generalSearch">
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="la la-search"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">
                            <div [ngClass]="{ 'active':activeTab==='dangkymoi'}" class="tab-pane "
                                id="kt_widget31_tab1_content">
                                <div class="kt-widget31">
                                    <div *ngFor="let number of [0,1,2,3,4]" class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic">
                                                <img src="assets/media/users/100_4.jpg" alt="">
                                            </div>
                                            <div class="kt-widget31__info">
                                                <p href="#" class="kt-widget31__username" style="margin-bottom: 0;">
                                                    Anna Strong
                                                </p>
                                                <p class="kt-widget31__text">
                                                    SDT: 0987778889
                                                </p>
                                                <p class="kt-widget31__text">
                                                    Địa chỉ: Đông ngạc - Từ liêm - HN
                                                </p>
                                                <p>
                                                    <span class="kt-widget31__text kt-font-bold">Thời gian: 09:00 -
                                                        02/12/2018</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__progress">
                                                <!-- <a href="#" class="kt-widget31__stats">
                                                    <span>63%</span>
                                                    <span>London</span>
                                                </a> -->

                                                <span class="kt-badge kt-badge--inline kt-badge--warning">Đang chờ kích
                                                    hoạt</span>
                                            </div>
                                            <a (click)="open()" class="btn-label-brand btn btn-sm btn-bold">Kích
                                                hoạt</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div [ngClass]="{ 'active':activeTab==='thanhvien'}" class="tab-pane"
                                id="kt_widget31_tab2_content">
                                <div class="kt-widget31">
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic kt-widget4__pic--pic">
                                                <img src="assets/media/users/100_11.jpg" alt="">
                                            </div>
                                            <div class="kt-widget31__info">
                                                <a href="#" class="kt-widget31__username">
                                                    Nick Bold
                                                </a>
                                                <p class="kt-widget31__text">
                                                    Web Developer, Facebook Inc
                                                </p>
                                            </div>
                                        </div>
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__progress">
                                                <a href="#" class="kt-widget31__stats">
                                                    <span>13%</span>
                                                    <span>London</span>
                                                </a>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <a href="#" class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                        </div>
                                    </div>
                                    <div class="kt-widget31__item">
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__pic kt-widget4__pic--pic">
                                                <img src="assets/media/users/100_1.jpg" alt="">
                                            </div>
                                            <div class="kt-widget31__info">
                                                <a href="#" class="kt-widget31__username">
                                                    Wiltor Delton
                                                </a>
                                                <p class="kt-widget31__text">
                                                    Project Manager, Amazon Inc
                                                </p>
                                            </div>
                                        </div>
                                        <div class="kt-widget31__content">
                                            <div class="kt-widget31__progress">
                                                <div class="kt-widget31__stats">
                                                    <span>93%</span>
                                                    <span>New York</span>
                                                </div>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width: 45%" aria-valuenow="45" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <a href="#" class="btn-label-brand btn btn-sm btn-bold">Follow</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end:: Widgets/User Progress -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="kt-separator  kt-separator--border-dashed"></div>
                <!--begin: Section-->
                <div class="kt-section">

                    <!--begin: Pagination-->
                    <div class="kt-pagination kt-pagination--brand kt-pagination--circle">
                        <ngb-pagination class="kt-pagination kt-pagination--brand kt-pagination--circle"
                            [collectionSize]="120" [(page)]="page" [maxSize]="5" [boundaryLinks]="true">
                        </ngb-pagination>

                        <div class="kt-pagination__toolbar">
                            <select class="form-control kt-font-brand" style="width: 60px">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span class="pagination__desc">
                                Displaying 10 of 230 records
                            </span>
                        </div>
                    </div>

                    <!--end: Pagination-->

                </div>

                <!--end: Section-->

            </div>


        </div>
    </kt-portlet-body>
</kt-portlet>